# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
dist/
build/
*.spec
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/
